/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

/* Navbar styles */
nav {
    position: fixed;
    background: black;
    width: 100%;
    z-index: 12;
}
nav .menu {
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
.menu .logo a {
    text-decoration: none;
    color: white;
    font-size: 35px;
    font-weight: 600;
}
.menu ul {
    display: inline-flex;
}
.menu ul li {
    list-style: none;
    margin-left: 7px;
}
.menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    background: red;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.menu ul li a:hover {
    background: white;
    color: black;
}

/* Background image styles */
.img {
    background: url(Tea.jpeg) no-repeat;
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
.img::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

/* Centered content styles */
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    text-align: center;
}
.center .title {
    color: white;
    font-size: 55px;
    font-weight: 600;
}
.center .tagline {
    color: #f5e9d7;
    font-size: 20px;
    margin-top: 10px;
    font-style: italic;
    font-weight: 400;
}
.center .sub_title {
    color: white;
    font-size: 35px;
    font-weight: 600;
    margin-top: 15px;
}
.center .btns {
    margin-top: 20px;
}
.center .btns button {
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
}
.center .btns button:first-child {
    color: white;
    background: none;
}
.center .btns button:first-child:hover {
    background: white;
    color: black;
}
.center .btns button:last-child {
    color: black;
    background: white;
}
.center .btns button:last-child:hover {
    background: #f5e9d7;
    color: black;
}
